.checkout-page {
  width: 55%;
  min-height: 90vh;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .checkout-header {
    border-bottom: 1px solid darkgray;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .header-block {
    width: 23%;
    text-transform: capitalize;

    &:last-child {
      width: 8%;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
